@page "/"

<h1>Hello, world!</h1>

<p>
    I am Matthew Hawley, a CIS major with a focus in prgramming. I started have an interest in computers and
    programming in high school, where I took classes to check how I liked it. Instantly, I knew what my
    future career was going to be. What is possible with both is nearly infinite and only limited by the
    technology of the time and ones own creativity.
</p>.

<SurveyPrompt Title="How is Blazor working for you?" />